.education {
    margin-bottom: 10%;
    text-align: center;
}
.education p {
    font-size: 1.1rem;
    text-align: center;
}
.education p:first-child {
    color: blue;
    font-weight: bold;
}
.education h2 {
    font-size: 2.5rem;
    text-align: center;
}
.educationList {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
} 